<nav class="navbar navbar-expand-lg bg-light text-uppercase fs-6 p-3 border-bottom align-items-center">
  <div class="container-fluid">
    <div class="row justify-content-between align-items-center w-100">
      <div class="col-auto">
        <a class="navbar-brand text-white" href="{{ routes.root_url }}">
          {% if section.settings.logo %}
            <img src="{{ section.settings.logo | img_url: '150x' }}" alt="{{ shop.name }}">
          {% else %}
            <span class="text-black">{{ shop.name }}</span>
          {% endif %}
        </a>
      </div>

      <div class="col-auto">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
            <button
              type="button"
              class="btn-close text-reset"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>

          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 gap-1 gap-md-5 pe-3">
              {% for link in linklists[section.settings.menu].links %}
                <li class="nav-item {% if link.links != blank %}dropdown{% endif %}">
                  <a
                    class="nav-link {% if link.links != blank %}dropdown-toggle{% endif %}"
                    href="{% if link.url contains 'index.html' %}{{ routes.root_url }}{% else %}{{ link.url }}{% endif %}"
                    {% if link.links != blank %}
                      id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                    {% endif %}
                  >
                    {{ link.title }}
                  </a>
                  {% if link.links != blank %}
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% for childlink in link.links %}
                        <li>
                          <a
                            class="dropdown-item"
                            href="{% if childlink.url contains 'index.html' %}{{ routes.root_url }}{% else %}{{ childlink.url }}{% endif %}"
                          >
                            {{- childlink.title -}}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
          <style>
            @media (min-width: 992px) {
              .dropdown:hover .dropdown-menu {
                display: block;
                margin-top: 0;
              }
            }
          </style>
        </div>
      </div>

      <div class="col-3 col-lg-auto">
        <ul class="list-unstyled d-flex m-0">
          <li class="d-none d-lg-block position-relative wishlist-hover-container">
            <a href="/pages/wishlist" class="text-uppercase mx-3">Wishlist <span class="wishlist-count">(0)</span> </a>
            <div
              id="wishlist-dropdown-container"
              class="position-absolute bg-white shadow rounded border"
              style="top: 100%; right: 0; width: 320px; z-index: 1000; display: none;"
            >
              <!-- Wishlist items will be rendered here by JS -->
            </div>
            <style>
              .wishlist-hover-container:hover #wishlist-dropdown-container {
                display: block !important;
              }
            </style>
          </li>
          <li class="d-none d-lg-block">
            <a
              href="{{ routes.cart_url }}"
              class="text-uppercase mx-3"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasCart"
              aria-controls="offcanvasCart"
              >Cart <span class="cart-count">({{ cart.item_count }})</span>
            </a>
          </li>
          <li class="d-lg-none">
            <a href="#" class="mx-2">
              <svg width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="#heart"></use>
              </svg>
            </a>
          </li>
          <li class="d-lg-none">
            <a
              href="#"
              class="mx-2"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasCart"
              aria-controls="offcanvasCart"
            >
              <svg width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="#cart"></use>
              </svg>
            </a>
          </li>
          <li class="search-box" class="mx-2">
            <a href="#search" class="search-button">
              <svg width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="#search"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}
